@import "colors";
@import "fonts";
@import "vertical-timeline";

* {
  font-family: 'Bebas Neue', cursive;
}

.font-monster {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  background: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 50vh;
  }

  &__button {
    margin: 4rem;
    padding: .5rem 3rem;
    background: $accent;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1.25rem;
    border: $accent 1px solid;
    transition: .3s;

    &:hover {
      background: transparent;
      color: $accent;
    }
  }
}

.content {
  background: $black;

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem !important;
    text-decoration: none;
    color: white;

    &:hover {
      color: $accent;
    }

    img {
      width: 2rem;
      margin-right: .5rem;
    }
  }

  &__copy {
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background: transparent;
    color: $accent;

    &:hover {
      cursor: pointer;
    }

    &__icon {
      background: $accent;
      border-radius: 20px;
      padding: 1rem;
      margin: 1rem;
      width: 4rem;
      height: 4rem;
      transition: .3s;
      border: 1px solid $black;

      &:hover {
        background: $black;
        border: 1px solid $accent;

      }
    }
  }

  &__verticaltimeline__element__title {
    font-size: 6rem;
  }

  &__verticaltimeline__element__paragraph, strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem !important;
  }

  &__row {
    justify-content: space-between;
  }

  &__col {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  &__col__text {
    border-radius: 20px;

    background: $accent;
    margin: 0 1rem;
    padding: 2rem;

    &__header {
      font-size: 3rem;
    }

    &__paragraph {
      font-size: 1.5rem !important;
      font-family: 'Montserrat', sans-serif;

      strong {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem !important
      }
    }

    &__button {
      text-align: center;
      border-radius: 20px;
      font-size: 2rem;
      color: white;
      text-decoration: none;
      background: $accent;
      margin: 2rem 4rem;
      padding: 1rem;
      border: 1px solid $accent;
      transition: .3s;

      &:hover {
        color: $accent;
        background: transparent;
      }
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px rgba(174, 146, 124, 0.25)
  }
}

.footer {
  box-shadow: 0px -15px 50px 5px #202020;
  color: $accent;
  background: black;
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .header__button {
    margin: 1rem;
  }
  .content__verticaltimeline__element__title {
    font-size: 3rem;
  }
  .vertical-timeline-element-content {
    margin-left: 4rem !important;
  }
  .content__verticaltimeline__element__paragraph, .content strong {
    font-size: .75rem !important;
  }
  .content__col__text {
    padding: 1rem;
    margin: 0;
  }
  .content__verticaltimeline__element__title {
    font-size: 2rem !important;
  }
  .footer {
    font-size: 1rem;
    box-shadow: 0px -15px 30px 5px #202020;
  }
  .content__copy {
    font-size: 1rem;
  }
  .content__copy__icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: .25rem;
    background: transparent;
  }
  .content__link {
    font-size: 1rem !important;
    margin: .25rem;
  }
  .vertical-timeline-element-content p {
    font-size: .75rem !important;
    margin-bottom: 1rem;
  }
  .content__col__text__button {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .content__col:nth-child(2) {
    margin-top: 1rem;
  }
  .content__col {

    padding: 0 !important
  }
}